.testi-bg {
	background-image: url("../images/testimonial-bg.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	h3 {
		margin-bottom: 20px;
		@media (max-width: 767px) {
			margin-bottom: 40px;
		}
	}
	.slick-testi-items .box {
		height: auto;
		padding: 0 15px;
		& > .content {
			background: #fff;
			transition: all 0.5s ease 0s;
			padding: 37px 30px 26px;
			margin: 20px 5px 30px;
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .01);
			overflow: hidden;
			position: relative;
			text-align: center;
			& .stars i {
				color: $orange;
				font-size: 20px;
			}
			& .para {
				border-style: solid;
				border-width: 0 0 2px;
				border-color: #f2f2f2;
				margin: 0 0 18px;
				p {
					padding: 1.2rem 0;
				}
			}
			& .person {
				.img {
					margin: auto;
					img {
						max-width: 100%;
						max-height: 100%;
						width: auto;
						height: auto;
					}
				}
				p {
					color: $orange;
					font-size: 0.9rem;
					font-weight: 600;
				}
			}
		}
		&:hover .content {
			background-color: transparent;
			background-image: linear-gradient(
				90deg,
				$orange 0%,
				$darkYellow 100%
			);
			color: #fff;
			.stars i {
				color: #fff;
			}
			.info h5,
			.info p {
				color: #fff;
			}
		}
	}
}
.slick-arrow {
	position: absolute;
	top: -6rem;
	&.slick-prev {
		@media (min-width: 768px) {
			right: 80px;
		}
	}
	&.slick-next {
		@media (min-width: 768px) {
			right: 0px;
		}
	}
	&:hover {
		background-color: $darkYellow;
	}
	@media (max-width: 767px) {
		top: -1rem;
		right: 50%;
		transform: translateY(-50%);
		&.slick-next {
			right: calc(50% - 80px);
		}
	}
}
