.video-sec {
	.widget {
		width: 100%;
		background-image: url("../../images/team-bg.jpg");
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		padding: 100px 0 400px;
		.video-item {
			.btn-circle {
				i {
					color: #fff;
					background: $orange;
					height: 100px;
					width: 100px;
					line-height: 100px;
					margin-right: 0px;
					font-size: 30px;
					z-index: 1;
				}
				i:after {
					background-color: transparent;
					background-image: linear-gradient(
						90deg,
						$orange 0%,
						$darkYellow 100%
					);
					z-index: -1;
				}
			}
		}
	}

	.teams {
		margin-top: -330px;
		.row:first-child {
			position: relative;
			margin-bottom: 100px;
		}
		.team {
			background-color: #fff;
			text-align: center;
			position: relative;
			box-shadow: 0px 5px 20px 0px #00000014;
			margin-bottom: 50px;
			.team-img {
				position: relative;
				transition: all 0.5s ease-in-out;
				&:not(last-child) {
					margin-bottom: 25px;
				}

				&:before {
					position: absolute;
					content: "";
					width: 100%;
					left: 0;
					right: 0;
					border: 15px solid transparent;
					transition: all 0.8s ease;
					height: 0;
				}
				&:hover:before {
					border: 15px solid $orange;
					border-bottom: 0 solid transparent;
					height: 50%;
				}
				img {
					width: 100%;
					border-radius: 0px;
				}
			}
			.team-info {
				margin-bottom: 25px;
				h3 {
					margin: 0;
				}
			}
			.social-icons {
				margin-top: 10px;
				display: flex;
				justify-content: center;
				position: absolute;
				width: 100%;
				bottom: -15px;
				left: 0;
				right: 0;
				li {
					margin: 0 10px;
					width: 40px;
					height: 40px;
					line-height: 40px;
					border-radius: 100%;
					color: $orange;
					background-color: #fff;
					box-shadow: 0px 5px 20px 0px #00000014;
					transition: all 0.5s ease-in-out;
					&:hover {
						color: #fff;
						background-color: transparent;
						background-image: linear-gradient(
							90deg,
							$orange 0%,
							$darkYellow 100%
						);
					}
				}
			}
		}
	}
}
